200 reviews
</br>
<div>
	<% @feedback.each do |p| %>
		<%= p.name %>
    </br>
		<%= p.star%>
    </br>
		<%= p.title %>
    </br>
		<%= p.author %>
    </br>
		<%= p.content %>
    </br>
		<%= p.date %>
    </br>
		<%= p.country %>
    </br>
		<%= p.version %>
    </br>
 		</br>
  <% end %>
</div>
